<ion-header>
  <ion-toolbar class="custom-header">
    <ion-title>Su cita </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      Información de la Cita agendáda
    </ion-card-header>
    <ion-card-content>
      <!-- Mostrar los detalles de la cita -->
      <ion-list lines="full">
        <ion-item>
          <ion-label>Especialidad:</ion-label>
          <ion-text>{{ cita.especialidad }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Médico:</ion-label>
          <ion-text>{{ cita.medico }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Fecha y Hora:</ion-label>
          <ion-text>{{ cita.fechaHora }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Botón para ir a la página de inicio -->
  <ion-button expand="block" routerLink="/home">Volver a la pagina principal</ion-button>
</ion-content>

